<ion-content>
    <ion-navbar>
        <ion-row>
            <ion-col col-auto justify-content-start style="width:80%">
                <ion-title>Job Detail </ion-title>
            </ion-col>
            <ion-col end>
                <ion-icon name="md-star" *ngIf="isSaved" style="text-align:end;zoom:1.5;color:gold;"></ion-icon>
                <ion-icon name="md-star" *ngIf="!isSaved" style="text-align:end;zoom:1.5"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <ion-card>
        <ion-card-header>
            <strong>Job Position</strong>
        </ion-card-header>
        <!-- <ion-card-content>
            <div text-wrap>
            <ion-icon name="md-navigate" style="color:blue"></ion-icon><strong>Location : </strong>{{data.eventLocation}}
            <br/>
            <ion-icon name="logo-usd" style="color:green"></ion-icon><strong>Pay Rate : </strong>RM {{data.payRate}}
            <br/>
            <ion-icon name="ios-list"></ion-icon><strong>Job Description</strong>
            <p>{{data.eventDesc}}</p>
            <br/>
            <ion-icon name="ios-people" ></ion-icon><strong>Required Applicant</strong>
            <p *ngIf="data.participantType == 1 || data.participantType == 3">Male Only: {{data.male}} people</p>
            <p *ngIf="data.participantType == 2 || data.participantType == 3">Female Only : {{data.female}} people</p>
            <p *ngIf="data.participantType == 4">Mixed Gender : {{data.mixed}} people</p>
        </div>
        </ion-card-content> -->
    </ion-card>
    <ion-card>
        <ion-card-header>
            <strong>
                <ion-icon name="md-navigate" style="color:blue"></ion-icon>
                Location
            </strong>
        </ion-card-header>
        <ion-card-content>
            {{data.eventLocation}}

        </ion-card-content>
    </ion-card>
    <ion-card>
            <ion-card-header>
                <strong>
                    <ion-icon name="md-calendar"></ion-icon>
                    Date and Time
                </strong>
            </ion-card-header>
            <ion-card-content>
                <p>Date : {{data.eventDate | date: 'dd/MM/yyyy'}}</p>
                <p>Time : {{data.eventTime }}</p>
    
            </ion-card-content>
        </ion-card>
    <ion-card>
        <ion-card-header>
            <strong>
                <ion-icon name="logo-usd" style="color:green"></ion-icon>
                Pay Rate
            </strong>
        </ion-card-header>
        <ion-card-content>
            RM {{data.payRate}}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <strong>
                <ion-icon name="ios-list"></ion-icon>
                Job Description
            </strong>
        </ion-card-header>
        <ion-card-content>
            <p>{{data.eventDesc}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <strong>
                <ion-icon name="ios-people"></ion-icon>
                Required Applicant
            </strong>
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="data.participantType == 1 || data.participantType == 3">Male Only: {{data.male}} people</p>
            <p *ngIf="data.participantType == 2 || data.participantType == 3">Female Only : {{data.female}} people</p>
            <p *ngIf="data.participantType == 4">Mixed Gender : {{data.mixed}} people</p>

        </ion-card-content>
    </ion-card>
    <div style="text-align:center">
        <button ion-button (click)="apply(data)">Apply</button>
        <button ion-button (click)="save(data)">Save</button>
    </div>
</ion-content>